---
title: Упс
permalink: /404.html
layout: default
nav_exclude: true
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Страница не найдена :(</strong></p>
  <p>Запрашиваемая страница не найдена.</p>
  <p>Попробуйте вернуться на <a href="/">домашнюю страницу</a>.
</div>
